! gruvbox colors
! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

! rxvt-unicode config

! URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

!*font: xft:Fantasque Sans Mono Nerd Font:size=12

! xterm config

XTerm.termName: xterm-256color
XTerm.vt100.locale: true
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.saveLines: 4096
XTerm.vt100.faceName: Fantasque Sans Mono Nerd Font Mono:size=12:antialias=true
!XTerm.vt100.faceName: icons\-in\-terminal:size=12
! XTerm.vt100.font: 7x13
!

st.termname: xst-256color
st.borderpx: 10
st.cursorshape: 2
st.font: Fantasque Sans Mono Nerd Font:pixelsize=16:antialias=true:autohint=true;
